
<%= render "github" %>

<div class="jumbotron">
  <h1 class="display-4">Private Events</h1>
  <p class="lead">Plan and keep track of events with your fiends.</p>
  <hr class="my-4">
  <p><strong>Demo Login: demo@email.com / password</strong></p>
  <% if user_signed_in? %>
  <a class="btn btn-primary btn-lg" href="/events" role="button">Events</a>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  <% end %>
</div>


