
<%= render "github" %>

<div class="jumbotron">
  <h1 class="display-4">Private Events</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quisquam alias molestiae rerum molestias cum eveniet quia, aliquid sint beatae, deserunt repellendus eos laudantium itaque accusantium error incidunt est eum.</p>
  <hr class="my-4">
  <% if user_signed_in? %>
  <a class="btn btn-primary btn-lg" href="/events" role="button">Events</a>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  <% end %>
</div>


